meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title
    block site_title
        = config.title
block description
block keywords
    meta(name="keywords", content=page.keywords)

meta(name="subtitle", content=config.subtitle)
meta(name="author", content=config.author)
meta(name="google-site-verification", content="cvPAyZ-ZCL95oXwVejN2W-cxTBfUemEGQOnHKDEQ8Dk")
meta(name="msvalidate.01", content="31FA25C5697C3CA088656A9B63A9013F")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(name="og:site_name", content=config.title)
meta(name="og:type", content="website")
meta(name="og:title", content=page.title)
meta(name="og:descricption", content=page.description)
meta(name="og:url", content=page.url)

meta(name="twitter:card", content="summary")
meta(name="twitter:title", content=page.title)
meta(name="twitter:description", content=page.description)
meta(name="twitter:site", content="@Ox333333")
meta(name="twitter:url", content=page.url)

link(rel="canonical", href=page.url)
link(rel="short icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("css/apollo.css"))

- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
