meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title
    block site_title
        = "Ox333333's Blog"
meta(name="description", content="I'm a Software Engineer @ YouTubeTV Search & Discovery team, this is the place I share my thoughts.")
meta(name="subtitle", content=config.subtitle)
meta(name="author", content=config.author)
meta(name="google-site-verification", content="cvPAyZ-ZCL95oXwVejN2W-cxTBfUemEGQOnHKDEQ8Dk")
meta(name="msvalidate.01", content="31FA25C5697C3CA088656A9B63A9013F")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(name="og:site_name", content="Ox333333's Blog")
meta(name="og:type", content="website")
meta(name="og:title", content="Ox333333's Blog")
meta(name="og:description", content="I'm a Software Engineer @ YouTubeTV Search & Discovery team, this is the place I share my thoughts.")
meta(name="og:url", content="https://zpjiang.me/")

meta(name="twitter:card", content="summary")
meta(name="twitter:title", content="Ox333333's Blog")
meta(name="twitter:description", content="I'm a Software Engineer @ YouTubeTV Search & Discovery team, this is the place I share my thoughts.")
meta(name="twitter:url", content="https://zpjiang.me/")
meta(name="twitter:site", content="@Ox333333")

link(rel="short icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("css/apollo.css"))

- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
